<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins:wght@200;300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <title>Games With History - Home</title>
  </head>
  <body>
    <header>
      <h1>
        Games With History
      </h1>
      <div class="bar"></div>
      <p>A list of games that have a really good history for you to play</p>
    </header>

    <main>
      <% if(message != "") { %>
        <section id="message">
          <p><%= message %></p>
          <span id="close">&times;</span>
        </section>
      <% } %>
      
      <section class="controllers-container">
        <form action="/shuffle" method="post">
        <button><img src="/img/random-solid.svg" alt="random-solid" /></button>
      </form>
        <form action="/create" method="get">
          <button>
            <img
              src="/img/plus-solid.svg"
              alt="plus-solid"
              class="add-button"
            />
          </button>
        </form>
      </section>

      <section class="content-container">
        <% games.forEach( (game, index) => { %> 
        <article key=<%=index%> class="container">
          <div class="outsideCircle">
            <div class="insideCircle">
              <img
                src="<%= game.image_url %>"
                alt=<%= game.name %> 
              />
            </div>
          </div>

          <form action="edit/<%= index%>"  method="get">
            <button type="submit">
              <img
                src="/img/edit-solid.svg"
                alt="edit-solid"
                id="edit-button"
              />
            </button>
          </form>

          <button onclick="onOpen(<%= index%>)">
            <img
              src="/img/trash-solid.svg"
              alt="trash-solid"
              id="delete-button"
            />
          </button>

          <form action="/details/<%= index%>" method="get">
            <button class="card">
     
                <h3><%= game.name%></h3>
    
            </button>
          </form>

          <section class="modal" id="modal-<%= index%>">
            <article class="modal-overlay">
              <div class="modal-content">
                  <span>
                    <h2>Do you really want to delete this game?</h2>
                  </span>
                  <span class="hstack">
                    <form action="/delete/<%= index%>" method="post">
                      <button type="submit" id="confirm-delete-button">Yes</button>
                    </form>
                    <button onclick="onClose(<%= index%>)" id="cancel-delete-button">No</button>
                  </span>
              </div>
            </article>
          </section>
        </article>
        <% }) %> 
      </section>
    </main>

    <script src="/js/script.js"></script>
  </body>
</html>
