<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/edit.css" />
  <title>Games With History - Edit</title>
</head>

<body>
  <%- include('../partials/header'); %>
  <main>
    <% if(editMessage != "") { %>
    <section id="message">
      <p><%= editMessage %></p>
      <span id="close">&times;</span>
    </section>
    <% } %>
    <%- include('../partials/controllers', {variant: 'secondary'}); %>


    <section class="form-container">
      <form action="/edit/<%= game.id%>" method="post">

        <img src="<%= game.imagem%>" alt=<%= game.nome%>>

        <h1>Game Edit</h1>
        <h3>Change your game</h3>
        <br>

        <fieldset>
          <label>Name:</label>
          <input type="text" name="nome" id="name-input" placeholder="Game name" value="<%= game.nome%>" required>
        </fieldset>

        <br>

        <fieldset>
          <label>Description:</label>
          <input type="text" name="descricao" id="name-input" placeholder="Game description" value="<%= game.descricao%>" required>
        </fieldset>

        <br>

        <fieldset>
          <label>Image:</label>
          <input type="text" name="imagem" id="name-input" placeholder="Image url" value="<%= game.imagem%>" required>
        </fieldset>

        <button id="create-button" type="submit">Send</button>
      </form>
  </main>
  <script src="/js/script.js"></script>
</body>

</html>