<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <title>Games With History</title>
</head>

<body>
  <%- include('../partials/header'); %>
  <main>
    <section class="banner-container">

    </section>
    <section class="about-container">
      <h3>About us</h3>
      <article>
        <% creators.forEach( (creator)=>{%>
        <div class="creators-card">
          <img src="<%= creator.imagem%>" alt=<%= creator.nome %>>
          <p class="creators-name"><%= creator.nome %></p>
          <p class="creators-cargo"><%= creator.cargo %></p>


        </div>
        <%})%>
      </article>

    </section>
  </main>
  <%- include('../partials/footer'); %>
  <script src="/js/script.js"></script>
</body>

</html>